$grenn-button-color: rgb(71, 168, 71);
$red-button-color: rgb(208, 71, 71);


body{
    margin: 0;
}


.main-page-header{
background-color: rgb(222, 222, 222);
display: flex;
color: rgb(73, 73, 73);
font-family: Arial, Helvetica, sans-serif;
padding: 5px;
font-size: 10px;
align-items: center ;
}



.nav-list{
    display: flex;
    list-style:none;
    li{
        text-align: center;

        a{
            text-decoration: none;
            color: rgb(73, 73, 73);
            padding: 10px;
            font-size: 15px;
        }
    }
    
}


.page-layout{
    display:flex;
    flex-direction: row;
    width: 100%;

    .left-side-page{
        width: 45%;
        padding: 10px;
        min-width: 300px;
    }

    .right-side-page{
        width: 55%;
        padding: 10px;
        min-width: 400px;
    }
}



/* Recipe Section Styles --- LEFT SIDE*/


.recipe-section{
    display: flex;
    flex-direction: column;
    width : 65%;
    align-items: flex-end;
    margin-left: auto;
    gap: 10px;
}


.new-recipe-button{

    background-color: $grenn-button-color;
    color: white;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 120px;
    font-size: 15px;
    align-self: flex-start;
    margin-bottom: 10px;

}



.recipe-list-separator{
    width: 100%;
    border-top: 1px  rgb(200, 200, 200);
    margin: 0;
}



.recipe-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
}


.recipe-list-item{
    display: flex;
    justify-content:space-between;
    padding: 15px;
    border : 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
}


.recipe-picture{
    height: 50px;
    width: 80px;
    
}

.recipe-list-item-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    align-items: flex-start;
}

.recipe-name{
    font-size: 25px;
    font-weight: bold;
    
}


.recipe-description{
    font-size: 15px;
    color: rgb(100, 100, 100);
    align-self:self-start;
}




/* right side styles */


.recipe-main-page{
    width: 75%;
}


.buttons-recipe-edit-page{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    
}

.save-button{
    background-color: $grenn-button-color;
    color: white;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 80px;
    font-size: 15px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.cancel-button{
    background-color: $red-button-color;
    color: white;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 15px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.recipe-edit-page{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.recipe-name-field{
    display: flex;
    flex-direction: column;
    gap: 4px;


    .recipe-name-label{
        font-size: 13px;
        font-weight: bold;
    }

    .recipe-name-input{
        height: 22px;
        font-size: 15px;
        padding: 5px;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        color: gray

    }
}

.recipe-image-url-field{
    display: flex;
    flex-direction: column;
    gap: 4px;

    .recipe-image-url-label{
        font-size: 13px;
        font-weight: bold;
    }

    .recipe-image-url-input{
        height: 22px;
        font-size: 15px;
        padding: 5px;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        color: gray

    }


    .recipe-img-wrapper{
        margin-top: 25px;
        
        .recipe-image-preview{
            height: 170px;
            width: 270px;
            object-fit: cover;
        }
    }
}



.recipe-description-field{
    display: flex;
    flex-direction: column;
    gap: 4px;

    .recipe-description-label{
        font-size: 13px;
        font-weight: bold;
    }

    .recipe-description-input{
        height: 130px;
        font-size: 15px;
        padding: 5px;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        color: gray;
        resize: none;
    }
}

.recipe-ingredients-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.ingredients-fields{
    display: flex;
    gap: 30px;
    
    .ingredient-input{
        height: 22px;
        width: 50%; 
        font-size: 15px;
        padding: 5px;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        color: gray;
    }

    .ingredient-quantity-input{
        height: 22px;
        width: 15%; 
        font-size: 15px;
        padding: 5px;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        color: gray;
    }

    .remove-ingredient-button{
        background-color: $red-button-color;
        color: white;
        border-radius: 4px;
        border: none;
        height: 30px;
        width: 30px;
        font-size: 15px;
        align-self: center;
        flex-shrink: 0;
    }
}


.recipe-main-page-separator{
    width: 100%;
    border-top: 1px  rgb(222, 214, 214);
    margin-top: 20px;
}


.add-ingredient-button{
    background-color: $grenn-button-color;
    color: white;
    border-radius: 4px;
    border: none;
    height: 35px;
    width: 150px;
    font-size: 15px;
    align-self: flex-start;
    margin-top: 10px;
}