:root {
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  --border-radius: 5px;
  --transition-speed: 0.3s;

  --color-bg: rgb(150, 168, 200);
  --box-bg: #ffffff;
  --text-color: #000000;
  --border-color: #000000;
  --nav-text: #fff;

  --button-disabled: rgb(105, 105, 105);
}
