$grenn-button-color: rgb(71, 168, 71);
$red-button-color: rgb(208, 71, 71);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
}

.main-page-header {
  background-color: rgb(222, 222, 222);
  display: flex;
  color: rgb(73, 73, 73);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  padding-left: 20px;
  font-size: 10px;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(6, 6, 6);
}

.nav-list {
  display: flex;
  list-style: none;
  li {
    text-align: center;

    a {
      text-decoration: none;
      color: rgb(73, 73, 73);
      padding: 10px;
      font-size: 15px;
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 1px;
    width: 100%;
    background-color: rgb(222, 222, 222);
    flex-direction: column;
    gap: 25px;
    padding-left: 20px;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    li {
      text-align: left;
    }

    &.show {
      display: flex;
      max-height: 100px;
      padding: 20px;
    }
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
    margin-left: auto;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
  }
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(150, 150, 150);
}

.page-layout {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  margin: 0 auto;

  .left-side-page {
    width: 45%;
    padding: 10px;
    min-width: 300px;
  }

  .right-side-page {
    width: 55%;
    padding: 10px;
    min-width: 400px;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .left-side-page {
      width: 100%;
      padding: 10px;
      min-width: 0px;
    }

    .right-side-page {
      width: 100%;
      min-width: 0px;
    }
  }
}

/* Recipe Section Styles --- LEFT SIDE*/

.recipe-section {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: flex-end;
  margin-left: auto;
  gap: 10px;

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    align-items: stretch;
  }
}

.new-recipe-button {
  background-color: $grenn-button-color;
  color: white;
  border-radius: 4px;
  border: none;
  height: 40px;
  width: 120px;
  font-size: 15px;
  align-self: flex-start;
  margin-bottom: 10px;
  cursor: pointer;
}

.recipe-list-separator {
  width: 100%;
  border-top: 1px rgb(200, 200, 200);
  margin: 0;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 10px;
}

.recipe-list-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.recipe-picture {
  max-width: 20%;
  height: auto;
  width: auto;
  object-fit: cover;
}

.recipe-list-item-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
  align-items: flex-start;
}

.recipe-name {
  font-size: 25px;
  font-weight: bold;
}

.recipe-description {
  font-size: 15px;
  color: rgb(100, 100, 100);
  align-self: self-start;
}

.toast-options {
  display: flex;
  flex-direction: column;

  p {
    color: rgb(47, 162, 47);
    font-size: 14px;
    font-weight: bold;
  }
}

.toast-options-ingredients {
  display: flex;
  flex-direction: column;
}

.options-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;

  label {
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid;
    background-color: rgb(243, 215, 179);
  }
}

#delivery-address-input {
  width: 70%;
  height: 30px;
  font-size: 10px;
  padding: 5px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  color: gray;
}

.recipe-list-item + .toast-options {
  max-height: 0px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 0.5s;
}

.recipe-list-item:hover + .toast-options {
  max-height: 800px;
}

/* right side styles */

.recipe-main-page {
  width: 75%;
  margin-right: auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.buttons-recipe-edit-page {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  cursor: pointer;
}

.save-button {
  background-color: $grenn-button-color;
  color: white;
  border-radius: 4px;
  border: none;
  height: 40px;
  width: 80px;
  font-size: 15px;
  align-self: flex-end;
  margin-bottom: 10px;
  cursor: pointer;
}

.cancel-button {
  background-color: $red-button-color;
  color: white;
  border-radius: 4px;
  border: none;
  height: 40px;
  width: 100px;
  font-size: 15px;
  align-self: flex-end;
  margin-bottom: 10px;
  cursor: pointer;
}

.recipe-edit-page {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.recipe-name-field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .recipe-name-label {
    font-size: 13px;
    font-weight: bold;
  }

  .recipe-name-input {
    height: 22px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    color: gray;
  }
}

.recipe-image-url-field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .recipe-image-url-label {
    font-size: 13px;
    font-weight: bold;
  }

  .recipe-image-url-input {
    height: 22px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    color: gray;
  }

  .recipe-img-wrapper {
    width: 100%;

    .recipe-image-preview {
      max-width: 100%;
      object-fit: cover;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.recipe-description-field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .recipe-description-label {
    font-size: 13px;
    font-weight: bold;
  }

  .recipe-description-input {
    height: 130px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    color: gray;
    resize: none;

    @media (max-width: 768px) {
      height: 70px;
    }
  }
}

.recipe-ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ingredients-fields {
  display: flex;
  gap: 30px;

  .ingredient-input {
    height: 22px;
    width: 50%;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    color: gray;

    &.input-error {
      border: 2px solid red;
    }

    @media (max-width: 768px) {
      width: 70%;
    }
  }

  .ingredient-quantity-input {
    height: 22px;
    width: 15%;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    color: gray;

    &.input-error {
      border: 2px solid red;
    }

    @media (max-width: 768px) {
      width: 10%;
    }
  }

  .remove-ingredient-button {
    background-color: $red-button-color;
    color: white;
    border-radius: 4px;
    border: none;
    height: 22px;
    width: 10%;
    font-size: 10px;
    align-self: center;
    flex-shrink: 0;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 10%;
    }
  }
}

.recipe-main-page-separator {
  width: 100%;
  border-top: 1px rgb(222, 214, 214);
  margin-top: 20px;
}

.add-ingredient-button {
  background-color: $grenn-button-color;
  color: white;
  border-radius: 4px;
  border: none;
  height: 35px;
  width: 150px;
  font-size: 15px;
  align-self: flex-start;
  margin-top: 10px;
  cursor: pointer;
}
