* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'filter-area filter-area filter-area'
    'aside main main'
    'footer footer footer';
  gap: var(--spacing-medium);
  min-height: 100vh;
  padding: var(--spacing-medium);
  background-color: var(--color-light-gray);

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      'header'
      'filter-area'
      'main'
      'aside'
      'footer';
  }
}

.header {
  grid-area: header;
  background: var(--color-christmas-green);
  color: var(--color-snow-white);
  padding: var(--spacing-large);
  text-align: center;
  border-radius: var(--border-radius);
}

.filter-area {
  grid-area: filter-area;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.main {
  grid-area: main;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.aside {
  grid-area: aside;
  background-color: var(--color-snow-white);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
}

.footer {
  grid-area: footer;
  background-color: var(--color-christmas-green);
  color: var(--color-snow-white);
  text-align: center;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}
