.filter-area-title {
  color: var(--color-christmas-green);
}

#filter-form {
  display: grid;
  grid-template-columns: 2fr 2fr auto;
  grid-template-areas: 'filter-status filter-search form-buttons';
  gap: var(--spacing-medium);
  align-items: end;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'filter-status'
      'filter-search'
      'form-buttons';
  }
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.form-buttons {
  display: flex;
  gap: var(--spacing-medium);
  width: auto;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-small);
  }
}

label[for='status-filter'],
label[for='search-filter'] {
  font-weight: 600;
}

#status-filter,
#search-filter {
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  padding-left: 10px;
  font-size: 14px;
}

#status-filter {
  cursor: pointer;
}

#apply-filters,
#reset-filters {
  height: 35px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#apply-filters {
  width: 130px;
  color: var(--color-snow-white);
  background-color: var(--color-christmas-red);
}

#reset-filters {
  width: 90px;
  color: var(--color-snow-white);
  background-color: var(--color-dark-gray);
}

@media screen and (max-width: 768px) {
  #apply-filters,
  #reset-filters {
    width: 100%;
    height: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #filter-form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'filter-status filter-search'
      'form-buttons form-buttons';
  }

  .form-buttons {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  #apply-filters,
  #reset-filters {
    width: 100%;
  }
}
