.nav-title {
  color: var(--color-christmas-green);
}

#filter-form {
  display: grid;
  grid-template-columns: 2fr 2fr auto;
  grid-template-areas: 'filter-status filter-search form-buttons';
  gap: var(--spacing-medium);
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.form-buttons {
  display: flex;
  gap: var(--spacing-medium);
  height: 55%;
  align-self: self-end;
}

label[for='status-filter'],
label[for='search-filter'] {
  font-weight: 600;
}

#status-filter,
#search-filter {
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  padding-left: 10px;
  font-size: 14px;
}

#status-filter {
  cursor: pointer;
}

#apply-filters {
  width: 130px;
  color: var(--color-snow-white);
  background-color: var(--color-christmas-red);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#reset-filters {
  width: 90px;
  color: var(--color-snow-white);
  background-color: var(--color-dark-gray);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
